// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  color: white;
  background-image: url('green_cup.png')
}

.jumbotron{
  background-color: #000;
}
.page-header{
  background-color: black;
}
.Image{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}
h1 {
  text-align: center;
}
h4{
  text-align: center;
}
h4 a {
  color: black;
}
.Price{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.Description{
  text-align: center;
}
.form {
  text-align: center;
}
