// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #999;
}
.Image{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}
h1 {
  text-align: center;
}
h4{
  text-align: center;
}
.Price{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.Description{
  text-align: center;
}