<h1>Product successfully entered!</h1>
<h2>The product you entered was: </h2>
<h4>Name: <%= params[:name] %> </h4>
<img class="Image" <%= params[:image]%>>
<p class="Price">Price: <%= params[:price] %></p>
<p class="Description"> <%= params[:description]%></p>
<a href='/products'> Go back to product list</a>
