<h1>Suppliers</h1>

<% @suppliers.each do |supplier|%> 
<h3><a href= '/suppliers/<%=supplier.id%>'><%=supplier.name%></a></h3>
<h3>Email: <%=supplier.email %></h3>
<h3>Phone: <%=supplier.phone %></h3>
<% end %>